<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Polls Page</title>
</head>
<body>

    <h1>Polls page</h1>

    {% if latest_question_list %}
        <ul>
            {% for q in latest_question_list %}
            <li><a href="{% url 'polls:detail' q.id %}">{{ q.question_text }}</a></li>
    {% endfor %}
        </ul>
    {% else %}
        <p>No Polls are currently listed</p>
    {% endif %}

</body>
</html>